In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.formula.api as sm

In [2]:
data = pd.read_csv('stata_data.csv')
data.head()

,CI,NASDAQ,NYSE,Other,one_m_diff_volume,three_m_diff_volume,six_m_diff_volume,one_y_diff_volume,one_m_diff_indexlevel,three_m_diff_indexlevel,six_m_diff_indexlevel,one_y_diff_indexlevel,one_m_diff_shareprice,three_m_diff_shareprice,six_m_diff_shareprice,one_y_diff_shareprice
0,1,1,0,0,-895.427522,59.844623,-1266.774608,-79.571963,-745.112262,471.397720,-1088.684905,71.782933,-184.660191,183.459660,188.346252,-59.873427
1,0,0,1,0,-30.850147,945.455314,2682.952851,1156.707753,1411.687961,206.288461,593.639376,63.870915,-674.048964,180.833666,120.936221,33.318400
2,1,0,0,1,-554.300354,-1575.673774,-889.469531,-1987.576524,-271.522884,2296.892408,69.992961,-68.893855,-214.566151,-195.106740,-159.993790,-72.870661
3,0,1,0,0,668.970176,36.199911,-379.726112,-33.908050,55.906646,8.322970,-11.165255,7.083142,-104.197427,-146.805878,-137.526202,-28.649221
4,1,0,1,0,93.397110,-184.947229,-263.260859,-121.368822,-232.332845,77.247749,918.609076,150.694258,117.842129,632.339710,-433.098300,171.927897

In [3]:
data.describe()

,CI,NASDAQ,NYSE,Other,one_m_diff_volume,three_m_diff_volume,six_m_diff_volume,one_y_diff_volume,one_m_diff_indexlevel,three_m_diff_indexlevel,six_m_diff_indexlevel,one_y_diff_indexlevel,one_m_diff_shareprice,three_m_diff_shareprice,six_m_diff_shareprice,one_y_diff_shareprice
count,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,6.600000e+01,61.000000,61.000000,61.000000,61.000000,66.000000,66.000000,66.000000,66.000000
mean,0.500000,0.227273,0.651515,0.121212,-178.077482,27.181813,-240.084044,-inf,-40.480174,333.974808,-84.848160,-53.217000,-inf,-134.124077,-201.883016,-130.220667
std,0.503831,0.422282,0.480142,0.328875,825.149800,1499.997087,488.245144,NaN,753.870332,2014.581715,447.235644,178.907642,NaN,716.091950,608.983249,848.598540
min,0.000000,0.000000,0.000000,0.000000,-4054.212026,-1932.667737,-1440.302398,-inf,-4943.522224,-2538.819579,-1605.947187,-721.548388,-inf,-4498.516621,-3295.530440,-5254.652160
25%,0.000000,0.000000,0.000000,0.000000,-406.562010,-282.233626,-348.104012,-2.228423e+02,-199.499094,-111.001821,-145.936233,-117.278129,-244.516266,-173.061435,-223.449680,-116.437971
50%,0.500000,0.000000,1.000000,0.000000,-136.401953,-143.676951,-161.947703,-1.221223e+02,-85.847667,-42.018040,-75.402891,-47.565129,-100.177646,-66.406354,-86.185018,-45.494910
75%,1.000000,0.000000,1.000000,0.000000,-81.469383,-35.230868,-119.680441,-7.754434e+01,135.270615,77.247749,32.456705,69.072025,-21.946072,14.747138,-21.471032,20.720112
max,1.000000,1.000000,1.000000,1.000000,3306.984427,9797.685894,2682.952851,1.104484e+04,1411.687961,10864.594069,918.609076,295.474253,1736.059346,2609.007883,1125.549457,1521.637427

In [ ]:
onemresult = sm.ols(formula="one_m_diff_shareprice ~ CI + NASDAQ + NYSE + one_m_diff_volume + one_m_diff_index_level +", data=data).fit()
print(onemresult.summary())

In [ ]:
threemresult = sm.ols(formula="three_m_diff ~ NYSE + CI", data=data).fit()
print(threemresult.summary())

In [ ]:
sixmresult = sm.ols(formula="six_m_diff ~ NYSE + CI", data=data).fit()
print(sixmresult.summary())

In [ ]:
oneyresult = sm.ols(formula="one_y_diff ~ NYSE + CI", data=data).fit()
print(oneyresult.summary())