In [1]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#Load tickerdata
data = pd.read_excel(r'Data for Thesis New Design Matrix.xlsx',engine='openpyxl',dtype=str)
print(data.head())

  Sharing Economy Firm             Incumbent Firms Ticker Exchange CI  \
0               Airbnb      Marriott International    MAR   NASDAQ  1
1               Airbnb      Marriott International    MAR   NASDAQ  1
2               Airbnb             Las Vegas Sands    LVS     NYSE  0
3               Airbnb             Las Vegas Sands    LVS     NYSE  0
4                 Bird  Giant Manufacturing Co Ltd   9921     TWSE  1

  Market Index ISF                    t                  t-1  \
0         IXIC   0  2008-08-31 00:00:00  2008-07-31 00:00:00
1         IXIC   1  2008-08-31 00:00:00  2008-07-31 00:00:00
2          NYA   0  2008-08-31 00:00:00  2008-07-31 00:00:00
3          NYA   1  2008-08-31 00:00:00  2008-07-31 00:00:00
4        TAIEX   0  2017-09-30 00:00:00  2017-08-30 00:00:00

                   t+1  ... Start(t=12) End(t=12) SP(Start(t=1)) SP(End(t=1))  \
0  2008-09-30 00:00:00  ...         NaN       NaN            NaN          NaN
1  2008-09-30 00:00:00  ...         NaN       NaN            NaN          NaN
2  2008-09-30 00:00:00  ...         NaN       NaN            NaN          NaN
3  2008-09-30 00:00:00  ...         NaN       NaN            NaN          NaN
4  2017-10-30 00:00:00  ...         NaN       NaN            NaN          NaN

  SP(Start(t=3)) SP(End(t=3)) SP(Start(t=6)) SP(End(t=6)) SP(Start(t=12))  \
0            NaN          NaN            NaN          NaN             NaN
1            NaN          NaN            NaN          NaN             NaN
2            NaN          NaN            NaN          NaN             NaN
3            NaN          NaN            NaN          NaN             NaN
4            NaN          NaN            NaN          NaN             NaN

  SP(End(t=12))
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN

[5 rows x 32 columns]

In [3]:
#Put Start and End Dates for Each of the Time Lengths into One Column for Each Time and Time Period Combination
data['Start(t=1)'] = np.where(data['ISF']=='0', data['t-1'], data['t'])
data['End(t=1)'] = np.where(data['ISF']=='0', data['t'], data['t+1'])
data['Start(t=3)'] = np.where(data['ISF']=='0', data['t-3'], data['t'])
data['End(t=3)'] = np.where(data['ISF']=='0', data['t'], data['t+3'])
data['Start(t=6)'] = np.where(data['ISF']=='0', data['t-6'], data['t'])
data['End(t=6)'] = np.where(data['ISF']=='0', data['t'], data['t+6'])
data['Start(t=12)'] = np.where(data['ISF']=='0', data['t-12'], data['t'])
data['End(t=12)'] = np.where(data['ISF']=='0', data['t'], data['t+12'])

In [4]:
data.columns

Index(['Sharing Economy Firm', 'Incumbent Firms', 'Ticker', 'Exchange', 'CI',
       'Market Index', 'ISF', 't', 't-1', 't+1', 'Start(t=1)', 'End(t=1)',
       't-3', 't+3', 'Start(t=3)', 'End(t=3)', 't-6', 't+6', 'Start(t=6)',
       'End(t=6)', 't-12', 't+12', 'Start(t=12)', 'End(t=12)',
       'SP(Start(t=1))', 'SP(End(t=1))', 'SP(Start(t=3))', 'SP(End(t=3))',
       'SP(Start(t=6))', 'SP(End(t=6))', 'SP(Start(t=12))', 'SP(End(t=12))'],
      dtype='object')

In [5]:
data = data.drop(columns=['t', 't-1', 't+1', 't-3', 't+3', 't-6', 't+6', 't-12', 't+12'])

In [6]:
data.head()

,Sharing Economy Firm,Incumbent Firms,Ticker,Exchange,CI,Market Index,ISF,Start(t=1),End(t=1),Start(t=3),...,Start(t=12),End(t=12),SP(Start(t=1)),SP(End(t=1)),SP(Start(t=3)),SP(End(t=3)),SP(Start(t=6)),SP(End(t=6)),SP(Start(t=12)),SP(End(t=12))
0,Airbnb,Marriott International,MAR,NASDAQ,1,IXIC,0,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-05-31 00:00:00,...,2007-08-31 00:00:00,2008-08-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Airbnb,Marriott International,MAR,NASDAQ,1,IXIC,1,2008-08-31 00:00:00,2008-09-30 00:00:00,2008-08-31 00:00:00,...,2008-08-31 00:00:00,2009-08-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Airbnb,Las Vegas Sands,LVS,NYSE,0,NYA,0,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-05-31 00:00:00,...,2007-08-31 00:00:00,2008-08-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Airbnb,Las Vegas Sands,LVS,NYSE,0,NYA,1,2008-08-31 00:00:00,2008-09-30 00:00:00,2008-08-31 00:00:00,...,2008-08-31 00:00:00,2009-08-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bird,Giant Manufacturing Co Ltd,9921,TWSE,1,TAIEX,0,2017-08-30 00:00:00,2017-09-30 00:00:00,2017-06-30 00:00:00,...,2016-09-30 00:00:00,2017-09-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN