In [1]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#Load Data with New Design Matrix
data = pd.read_excel(r'Data/Raw Data Matrix for Thesis.xlsx',engine='openpyxl',dtype=str)
data.head()

,Sharing Economy Firm,Incumbent Firms,Ticker,Exchange,CI,Market Index,ISF,t,t-1,t+1,...,SP(Start(t=3)),SP(End(t=3)),SP(Start(t=6)),SP(End(t=6)),SP(Start(t=12)),SP(End(t=12)),SP(Start(t=24)),SP(End(t=24)),SP(Start(t=36)),SP(End(t=36))
0,Airbnb,Marriott International,MAR,NASDAQ,1,IXIC,0,2008-08-31 00:00:00,2008-07-31 00:00:00,2008-09-30 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Airbnb,Marriott International,MAR,NASDAQ,1,IXIC,1,2008-08-31 00:00:00,2008-07-31 00:00:00,2008-09-30 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Airbnb,iShares Europe ETF,IEV,NYSEARCA,0,NYA,0,2008-08-31 00:00:00,2008-07-31 00:00:00,2008-09-30 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Airbnb,iShares Europe ETF,IEV,NYSEARCA,0,NYA,1,2008-08-31 00:00:00,2008-07-31 00:00:00,2008-09-30 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bird,Dorel Industries Inc Class B,DIIBF,OTCMKTS,1,OTCQX,0,2017-09-30 00:00:00,2017-08-30 00:00:00,2017-10-30 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Put Start and End Dates for Each of the Time Lengths into One Column for Each Time and Time Period Combination
data['Start(t=1)'] = np.where(data['ISF']=='0', data['t-1'], data['t'])
data['End(t=1)'] = np.where(data['ISF']=='0', data['t'], data['t+1'])
data['Start(t=3)'] = np.where(data['ISF']=='0', data['t-3'], data['t'])
data['End(t=3)'] = np.where(data['ISF']=='0', data['t'], data['t+3'])
data['Start(t=6)'] = np.where(data['ISF']=='0', data['t-6'], data['t'])
data['End(t=6)'] = np.where(data['ISF']=='0', data['t'], data['t+6'])
data['Start(t=12)'] = np.where(data['ISF']=='0', data['t-12'], data['t'])
data['End(t=12)'] = np.where(data['ISF']=='0', data['t'], data['t+12'])
data['Start(t=24)'] = np.where(data['ISF']=='0', data['t-24'], data['t'])
data['End(t=24)'] = np.where(data['ISF']=='0', data['t'], data['t+24'])
data['Start(t=36)'] = np.where(data['ISF']=='0', data['t-36'], data['t'])
data['End(t=36)'] = np.where(data['ISF']=='0', data['t'], data['t+36'])

In [4]:
#Print column names to drop
data.columns

Index(['Sharing Economy Firm', 'Incumbent Firms', 'Ticker', 'Exchange', 'CI',
       'Market Index', 'ISF', 't', 't-1', 't+1', 'Start(t=1)', 'End(t=1)',
       't-3', 't+3', 'Start(t=3)', 'End(t=3)', 't-6', 't+6', 'Start(t=6)',
       'End(t=6)', 't-12', 't+12', 'Start(t=12)', 'End(t=12)', 't-24', 't+24',
       'Start(t=24)', 'End(t=24)', 't-36', 't+36', 'Start(t=36)', 'End(t=36)',
       'SP(Start(t=1))', 'SP(End(t=1))', 'SP(Start(t=3))', 'SP(End(t=3))',
       'SP(Start(t=6))', 'SP(End(t=6))', 'SP(Start(t=12))', 'SP(End(t=12))',
       'SP(Start(t=24))', 'SP(End(t=24))', 'SP(Start(t=36))', 'SP(End(t=36))'],
      dtype='object')

In [5]:
#Drop Extra Columns
data = data.drop(columns=['t', 't-1', 't+1', 't-3', 't+3', 't-6', 't+6', 't-12', 't+12', 't-24', 't+24', 't-36', 't+36'])
data.head()

,Sharing Economy Firm,Incumbent Firms,Ticker,Exchange,CI,Market Index,ISF,Start(t=1),End(t=1),Start(t=3),...,SP(Start(t=3)),SP(End(t=3)),SP(Start(t=6)),SP(End(t=6)),SP(Start(t=12)),SP(End(t=12)),SP(Start(t=24)),SP(End(t=24)),SP(Start(t=36)),SP(End(t=36))
0,Airbnb,Marriott International,MAR,NASDAQ,1,IXIC,0,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-05-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Airbnb,Marriott International,MAR,NASDAQ,1,IXIC,1,2008-08-31 00:00:00,2008-09-30 00:00:00,2008-08-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Airbnb,iShares Europe ETF,IEV,NYSEARCA,0,NYA,0,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-05-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Airbnb,iShares Europe ETF,IEV,NYSEARCA,0,NYA,1,2008-08-31 00:00:00,2008-09-30 00:00:00,2008-08-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bird,Dorel Industries Inc Class B,DIIBF,OTCMKTS,1,OTCQX,0,2017-08-30 00:00:00,2017-09-30 00:00:00,2017-06-30 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Write Processed Data to Excel
with pd.ExcelWriter(r'Data/Processed Data Matrix for Thesis.xlsx', engine='openpyxl') as writer:
    data.to_excel(writer, index=False)